$headerBg: "../img/m-h-night.jpg";
$textColor: #ffffff;
$font: 'Fresca';
$wordBgColor: #ff4e33;
$buttonBgColor: #e3ac00;
$Bg: #21232e;
$cardBg: #3b3f50;
$cardTextColor: #ccd1c0;
$gradSecColor: #922b54;